<main>
<div class="container mt-4">
      <h3>　　注文情報確認</h3>
  <div class="row mt-4 mb-4">

    <div class="col-md-8">
      <table class="order-table table">
        <tr>
          <th style="width: 50%">商品名</th>
          <th style="width: 20%">単価（税込）</th>
          <th style="width: 15%">数量</th>
          <th style="width: 15%">小計</th>
        </tr>
          <% total = 0 %>
      <% @cart_items.each do |cart_item| %>
        <tr>
          <td>
            <%= image_tag cart_item.item.get_image, :size =>'100x50' %>
            <%= cart_item.item.item_name %>
          </td>
          <td><%= (cart_item.item.price * 1.1).floor.to_i %></td>
          <td><%= cart_item.amount %></td>
          <td><% subtotal = (cart_item.item.price * cart_item.amount * 1.1).floor.to_i %><%= subtotal %>
          </td>
        </tr>
            <% total += subtotal %>
      <% end %>
      </table>
    </div>

    <div class="col-md-3">
      <%= form_with model: @order, url: publics_orders_path, local: true do |f| %>
        <table class="table">
          <tbody>
            <tr>
              <td class="confirm-td" style="width: 50%">送料</td>
              <td>
                <%= @order.shipping_cost.to_i %>
                <%= f.hidden_field :shipping_cost, :value => @order.shipping_cost %>
              </td>
            </tr>
            <tr>
              <td class="confirm-td">商品合計</td>
              <td><%= total.to_i %></td>
            </tr>
            <tr>
              <td class="confirm-td">請求金額</td>
              <td>
                <%= @order.total_payment = @order.shipping_cost + total.to_i %>
                <%= f.hidden_field :total_payment, :value => @order.total_payment %>
        　　　　</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-5">
        <div class="display">
          <h4>支払方法</h4>
            <%= @order.payment_method %>
            <%= f.hidden_field :payment_method, :value => @order.payment_method %></br>
          <h4 class="mt-2">お届け先</h4>
            <%= @order.postal_code.to_s.insert(3, "-") %>
            <%= f.hidden_field :postal_code, :value => @order.postal_code %>
            <%= @order.address %></br>
            <%= f.hidden_field :address, :value => @order.address %>
            <%= @order.name %>
            <%= f.hidden_field :name, :value => @order.name %>
        </div>
      </div>
  </div>
        <div class="text-center">
          <%= f.submit "注文を確定する", class: "btn btn-success btn-lg text-center" %>
        </div>
        <% end %>

</div>
</main>
