<main>
<div class="container">
  <div class="row">

    <div class="col-md-2 mt-4">
      <%= render 'publics/genre', post_images: @genres %>
    </div>

    <div class="col-md-10 mt-4 mb-4">

  <%= image_tag @item.get_image %>

<h3><strong><%= @item.item_name %></strong></h3>

<p><%= @item.item_introduction %></p>

<p><strong>￥<%= @item.add_tax_price.to_s(:dalimited) %></strong>(税込)</p>


  <%= form_with(model: @cart_item,url: publics_cart_items_path, method: :post,local: true)do |f| %>
   <%= f.select :amount, [1,2,3,4,5,6,7,8,9,10],{ include_blank: '個数選択'} %>
   <%= f.hidden_field :item_id, :value => @item.id %>
   <%= f.submit "カートに入れる" %>
  <% end %>

(is_activeがNameErrorになる)
    </div>
  </div>
</div>
</main>
