<div class="container">
 <div class="row">

    <div class="display-2 mt-3 pb-3">
      <h2>管理者ログイン</h2>
    </div>

    <div class="container pl-5 mb-5">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

 <ul class="ipt-layout">
  <li class="row row-flex-align-c-ld">
    <div class="col-ld-9 col-md-24 col-sd-24 col-fit">
      <%= f.label :メールアドレス %>
    </div>
    <div class="col-ld-13 col-md-21 col-sd-24 col-justify-l col-sd-justify-r">
      <%= f.email_field :email, :size=>"30" %>
    </div>
  </li>
 </ul>

 <ul class="ipt-layout">
  <li class="row row-flex-align-c-ld">
    <div class="col-ld-9 col-md-24 col-sd-24 col-fit">
      <%= f.label :パスワード %>
    </div>
    <div class="col-ld-13 col-md-21 col-sd-24 col-justify-l col-sd-justify-r">
      <%= f.password_field :password, :size=>"30" %>
    </div>
  </li>
 </ul>

  <% if devise_mapping.rememberable? %>
 <ul class="ipt-layout">
  <li class="row row-flex-align-c-ld">
    <div class="col-ld-9 col-md-24 col-sd-24 col-fit">
      <%= f.check_box :remember_me %>
    </div>
    <div class="col-ld-13 col-md-21 col-sd-24 col-justify-l col-sd-justify-r">
      <%= f.label :パスワードを保存 %>
    </div>
  </li>
 </ul>
 <% end %>

  <div class="actions">
    <input type="submit" name="commit" value="ログイン" class="btn btn-sm btn-primary" data-disable-with="Log in">
  </div>
<% end %>

<%= render "admins/shared/links" %>

   </div>
 </div>
</div>