<main>
<div class="container">
  <div class="row">

    <div class="sidebar">
      <%= render 'publics/genre', post_images: @genres %>
    </div>

    <div class="main_content">
      <div class="infomation">
        ようこそ、ながのCAKEへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。
      </div>

      <h2>新着商品</h2>

        <div class="top_items-list">
          <% @items.each do |item| %>
            <div　class="top_items-list-each">
              <%= image_tag item.get_image, :size =>"190x150" %><br>
              <%= link_to item.item_name, publics_item_path(item.id) %><br>
              ￥<%= item.price %>
            </div>
          <% end %>
        </div>
        <%= link_to "全ての商品を見る>", publics_items_path %>

    </div>
  </div>
</div>
</main>