<!DOCTYPE html>
<html>
  <head>
    <title>Naganocake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
          <a class="navbar-brand" href="/">
            <span>ながのCAKE</span>
          </a>


      <div class="collapse navbar-collapse" id="navbarNavDropdown" style>
        <ul class="navbar-nav ml-auto">
    <% if admin_signed_in? %>
      <%= link_to admins_items_path(current_admin.id), class:"nav-link text-light" do %>
        <i class="fas fa-home"></i>商品一覧
      <% end %>

      <%= link_to  admins_customers_path, class:"nav-link text-light" do %>
        <i class="fas fa-users"></i>会員一覧
      <% end %>

      <%= link_to admins_homes_top_path, class:"nav-link text-light" do %>
        <i class="fas fa-book-open"></i>注文履歴一覧
      <% end %>

      <%= link_to admins_genres_path, class:"nav-link text-light" do %>
        <i class="fas fa-sign-out-alt"></i>ジャンル一覧
      <% end %>

      <%= link_to destroy_admin_session_path, method: :delete , class:"nav-link text-light" do %>
        <i class="fas fa-sign-out-alt"></i>ログアウト
      <% end %>

    <% elsif customer_signed_in? %>
      <%= link_to publics_customer_path(current_customer.id), class:"nav-link text-light" do %>
        <i class="fas fa-home"></i>マイページ
      <% end %>

      <%= link_to publics_items_path, class:"nav-link text-light" do %>
        <i class="fas fa-users"></i>商品一覧
      <% end %>

      <%= link_to publics_cart_items_path, class:"nav-link text-light" do %>
        <i class="fas fa-book-open"></i>カート
      <% end %>

      <%= link_to destroy_customer_session_path, method: :delete , class:"nav-link text-light" do %>
        <i class="fas fa-sign-out-alt"></i>ログアウト
      <% end %>

    <% else %>
      <%= link_to '/', class:"nav-link text-light" do %>
        <i class="fas fa-home"></i>Home
      <% end %>

      <%= link_to '/homes/about', class:"nav-link text-light" do %>
        <i class="fas fa-link"></i>About
      <% end %>

      <%= link_to publics_items_path, class:"nav-link text-light" do %>
        <i class="fas fa-users"></i>商品一覧
      <% end %>

      <%= link_to new_customer_registration_path, class:"nav-link text-light" do %>
        <i class="fas fa-user-plus"></i>新規登録
      <% end %>

      <%= link_to new_customer_session_path, class:"nav-link text-light" do %>
        <i class="fas fa-sign-in-alt"></i>ログイン
      <% end %>
    <% end %>
      </nl>
    </div>
    </div>

    </header>
    <%= yield %>



    <footer>
     <div class="container mt-5">
      <div class = "row">
        <div class = "mx-auto">
          <p>フッター<ながのCAKE></p>
        </div>
      </div>
     </div>
    </footer>
  </body>
</html>
