<!DOCTYPE html>
<html>
  <head>
    <title>Naganocake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
     <nav class="navbar navbar-expand-lg navbar-dark bg-warning">
      <div class="container">
          <a class="navbar-brand" href="/">
            <span>ながのCAKE</span>
          </a>


      <div class="collapse navbar-collapse" id="navbarNavDropdown" style>
        <ul class="navbar-nav ml-auto">
    <% if admin_signed_in? %>
      <%= link_to admins_items_path(current_admin.id), class:"nav-link text-light" do %>
        商品一覧
      <% end %>

      <%= link_to  admins_customers_path, class:"nav-link text-light" do %>
        会員一覧
      <% end %>

      <%= link_to admins_homes_top_path, class:"nav-link text-light" do %>
        注文履歴一覧
      <% end %>

      <%= link_to admins_genres_path, class:"nav-link text-light" do %>
        ジャンル一覧
      <% end %>

      <%= link_to destroy_admin_session_path, method: :delete , class:"nav-link text-light" do %>
        ログアウト
      <% end %>

      <%= form_with local: true, method: :get do |form| %>
        <%= form.text_field :keyword %>
        <%= form.submit '検索' %>
      <% end %>

    <% elsif customer_signed_in? %>
      <div class="text-light">
      ようこそ、<%= current_customer.last_name %>さん！
      </div>

      <%= link_to publics_customer_path(current_customer.id), class:"nav-link text-light" do %>
        マイページ
      <% end %>

      <%= link_to publics_items_path, class:"nav-link text-light" do %>
        商品一覧
      <% end %>

      <%= link_to publics_cart_items_path, class:"nav-link text-light" do %>
        カート
      <% end %>

      <%= link_to destroy_customer_session_path, method: :delete , class:"nav-link text-light" do %>
        ログアウト
      <% end %>

      <%= form_with local: true, method: :get do |form| %>
        <%= form.text_field :keyword %>
        <%= form.submit '検索' %>
      <% end %>

    <% else %>
      <%= link_to '/', class:"nav-link text-light" do %>
        Home
      <% end %>

      <%= link_to '/homes/about', class:"nav-link text-light" do %>
        About
      <% end %>

      <%= link_to publics_items_path, class:"nav-link text-light" do %>
        商品一覧
      <% end %>

      <%= link_to new_customer_registration_path, class:"nav-link text-light" do %>
        新規登録
      <% end %>

      <%= link_to new_customer_session_path, class:"nav-link text-light" do %>
        ログイン
      <% end %>

      <%= form_with local: true, method: :get do |form| %>
        <%= form.text_field :keyword %>
        <%= form.submit '検索' %>
      <% end %>

    <% end %>
      </nl>
    </div>
    </div>

    </header>
    <%= yield %>

    <main>
    </main>

    <footer class="footer">

      <nav class="navbar navbar-expand-lg navbar-dark bg-warning">
       <div class="container mt-5">
       </div>

      </footer>
  </body>
</html>
